<IfModule mod_rewrite.c>
    Options -MultiViews -Indexes
    RewriteEngine On
    RewriteBase /

    # Deixa passar arquivos/pastas reais
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Todo o resto vai pro index.php
    RewriteRule ^ index.php [L]
</IfModule>
